@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Work+Sans:wght@500&display=swap');
.serif {
  font-family: 'Amiri', serif;
}

body,
.sans-serif {
  font-family: 'Work Sans', sans-serif;
}

.adial-card-bg {
  background: linear-gradient(220.55deg, #3793ff 0%, #0017e4 100%);
}

.burnout-card-bg {
  background: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
}

.huh-card-bg {
  background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%);
}

.reblur {
  background: linear-gradient(220.55deg, #00b960 0%, #00552c 100%);
}
